*{
    margin: 0;
    padding: 0;

}

.header{
    height: 100vh;
    width: 100%;
    background-image: url(Images/bgimage.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    display: inline-block;
    position: relative;
}